.containerMainContactus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2rem;

  .containerTextContactus {
    max-width: 70%;

    p {
      font-size: 1rem;
    }
  }
}

@media (max-height: 700px) {
  .containerMainContactus {
    margin-top: 1rem;

    .containerTextContactus {
      max-width: 80%;

      p {
        font-size: 0.8rem;
      }
    }
  }
}
