.containerMainAboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  
  .containerTextAboutus {
    width: 42rem;
    padding: 2rem;

    p {
      font-size: 1.1rem;
    }
    label {
      color: grey;
    }
  }

  .containerFooterAboutUs {
    margin-top: 3rem;
    // position: relative;
  }
}

@media (max-width: 730px) {
  .containerMainAboutus {
margin-top: 1.5rem;
    .containerTextAboutus {
      width: 80%;

      p {
        font-size: 1rem;
      }
    }
  }
}

@media (max-height: 700px) {
  .containerMainAboutus {

    .containerTextAboutus {

      p {
        font-size: 0.8rem;
      }
      label {
        color: grey;
      }
    }
  }
}
